body{
    background-color: rgb(192, 228, 228);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    margin:50px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.299);
}

#submit{
    background-color: rgb(219, 101, 101);
    font-size: 1.5em;
    color: white;
    border: none;
    border-radius:4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#submit:hover{
    background-color: rgb(244, 7, 7);
}
#input{
    font-size: 20px;
    width: 50px;
    
}
h1{
    color: rgb(90, 90, 218);
}
h2{
    font-size: 1.5em;
    color:#333;

}