#countlable{
  display:block;
 font-family: Helvetica;
  font-size: 10em;
  text-align: center;
  
}
#btncontariner{
  text-align: center;
  
}
.button{
  padding: 10px 20px;
  font-size:1.5em;
  background-color:rgb(120, 206, 120);
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  transition:background-color 2.50ms ;
 
}
.button:hover{
  background-color: rgb(13, 117, 13);
}